{% extends 'base.html.twig' %}

{% block title %}Garage V.Parrot
{% endblock %}

{% block body %}
	<div
		class="container recherche" id="navbarSupportedContent">
		<!-- Champs de recherche -->
		<form class="form-inline" id="filter-form">
			<div class="row justify-content-end">
				<div class="col-md-3">
					<label for="prix_min">Prix min :</label>
					<input type="number" id="prix_min" name="prix_min" class="form-control">
				</div>
				<div class="col-md-3">
					<label for="prix_max">Prix max :</label>
					<input type="number" id="prix_max" name="prix_max" class="form-control">
				</div>
				<div class="col-md-6">
					<button class="btn btn-outline-success my-2 my-sm-4" type="submit">Rechercher</button>
				</div>
			</div>
		</form>
	</div>

	<div class="container" id="results">
		<h1>Véhicules d'occasion</h1>

		<div class="row">
			{% for voiture in voitures %}
				<div class="col-md-4 voiture-item">
					{% if voiture.id %}
						<h3 class="visually-hidden" id="IDvoiture">
							{{ voiture.id }}
						</h3>
					{% endif %}
										{% if voiture.titre %}
						<h2 class="voiture-item-heading" id="sujet">
							<span class="voiture-item-name" id="sujet-titre">{{ voiture.titre }}</span>
						</h2>
					{% endif %}
					{% if voiture.image %}
						<img class="voiture-item-image" src="{{ asset('uploads/Voiture/' ~ voiture.image) }}" alt="">
					{% endif %}

					{% if voiture.anneeMiseCirculation %}
						<span class="voiture-item-annee" id="sujet-annee">Année de mise en circulationn : {{ voiture.anneeMiseCirculation|date('d/m/Y') }}</span>
					{% endif %}
					{% if voiture.kilometrage %}
						<div>
							<span class="voiture-item-kilometrage" id="sujet-kilometrage">Kilométrage : {{ voiture.kilometrage }}</span>
						</div>
					{% endif %}
					{% if voiture.prix %}

						<div>
							<span class="voiture-item-price">Prix : {{ voiture.prix | number_format(0, ',', ' ') }}€</span>
						</div>
					{% endif %}
					{% if voiture.description %}
						<p class="visually-hidden" id="description">
							{{ voiture.description }}
						</p>
					{% endif %}
					<button class="btn-primary buttonDescription" id="buttonDescription">Voir la description</button>
					<a href="{{ path('contact', {'id': voiture.id})}}" class="btn btn-primary contact" id="contact-des" data-specific="">Contact</a>
				</div>

			{% endfor %}
		</div>
	</div>
<div class="container mt-2">
	<h2>Nos témoignages</h2>
</div>

{% for temoignage in temoignages %}
    <div class="container  temoignage">
        <h3>Publié par : {{ temoignage.nom }}</h3>
        <p>{{ temoignage.commentaire }}</p>
        <p>{{ temoignage.createdAt|format_datetime('medium', 'short') }}</p>
        <div class="etoiles">
            {% for i in 1..5 %}
                {% if i <= temoignage.note %}
                    <span class="bi bi-star-fill"></span> <!-- Utilise la classe Bootstrap pour une étoile remplie -->
                {% else %}
                    <span class="bi bi-star"></span> <!-- Utilise la classe Bootstrap pour une étoile vide -->
                {% endif %}
            {% endfor %}
        </div>
    </div>
  </div>  
{% endfor %}

<div class="container col-md-3">
	<a href="/temoignage" class="btn btn-primary contact">Voir nos témoignages</a>
</div>
{% endblock %}
