<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}
				Garage V-Perrot
			{% endblock %}
		</title>
		<link rel="icon" type="image/png" href="{{ asset('uploads/Logo/logo.svg')}}">

		{% block stylesheets %}

			{{ encore_entry_link_tags('app') }}


		{% endblock %}
	</head>
	<body>
		{% block header %}
			<nav class="navbar navbar-expand-lg">
				<div class="container-fluid">
					<a href="/">
						<img class="logo" src="{{ asset('uploads/Logo/logo.svg') }}" alt="Logo du garage V.Parrot"/>
					</a>
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EMPLOYE') %}
							<li class="nav-item">
								<a class="nav-link one" href="/admin">admin</a>
							</li>
						{% endif %}
					</ul>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">

						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link" aria-current="page" href="/" alt="Accueil">Accueil</a>
							</li>
							{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EMPLOYE') %}
							<li class="nav-item">
								<a class="nav-link" href="/voiture/new">Voiture</a>
							</li>
							{% endif %}
							<li class="nav-item">
								<a class="nav-link" href="/temoignage">Témoignage</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/message">Contact</a>
							</li>
						</ul>

						{# vérifie si l'utilisateur est connecté #}
						{% if app.user %}
							Bienvenue<br>
							{{ app.user.prenom }}
							{{ app.user.nom }}<br>
							<a href="/logout">Se déconnecter</a>
						{% else %}
							<a href="/login">Se connecter</a>
						{% endif %}
					</div>
				</div>

			</nav>
		{% endblock %}

		{% block body %}{% endblock %}

		{% block footer %}
			<footer class="footer footer-inline">
				<div class="container-footer">
					<div class="row row-inline">
						<div class="col-md-6 mx-auto text-center">
							<ul class="list-inline">
								<li class="list-inline-item text-primary">
									<a href="{{ path('accueil') }}">Accueil</a>
								</li>
								<li class="list-inline-item">
									<a href="{{ path('login') }}">Login</a>
								</li>
							</ul>
						</div>

					</div>
					<div class="col-md-6 mx-auto">
						<h1 class="footer-title">Garage V.Parrot</h1>
					</div>
					<div class="row row-inline">

						<div class="col-md-4">
							<ul class="list-inline">
								<li class="list-inline-item row">
									<p class="footer-contact">Téléphone : 00.00.00.00.00</p>
								</li>
								<li class="list-inline-item row">
									<p class="footer-contact">Adresse :  boulevard d0</p>
								</li>
								<li class="list-inline-item row">
									<p class="footer-contact">34500, Béziers</p>
								</li>
							</ul>
						</div>
						{#<div class="col-md-4">
						                <h1 class="footer-title">Garage V.Parrot</h1>
						            </div>#}
						<div class="col-md-4 footer">
							<h2 class="footer-title">Horaires d'ouverture</h2>
							<table class="table">
								<thead>
									<tr>
										<th>Jour</th>
										<th>Ouverture</th>
										<th>Fermeture</th>
									</tr>
								</thead>
								<tbody>
									{% for horaire in horaires %}
										<tr>
											<td>{{ horaire.jourSemaine }}</td>
											<td>{{ horaire.heureOuverture|date('H:i') }}</td>
											<td>{{ horaire.heureFermeture|date('H:i') }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</footer>
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}


		{% endblock %}


	</body>
</html>
