<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
                    Garage V-Perrot
            {% endblock %}
        </title>
    </head>
    <body>
<h1>Demande de {{ contact.nom }} {{ contact.prenom }}</h1>
    
<div class="form-group">
    <label for="sujet">Information du véhicule - {{ voitureTitre }} : {{ voitureAnnee|date('d/m/Y') }}</label>
    <input id="anneeMiseCirculation" name="sujet" class="form-control" value="{{ voitureAnnee|date('d/m/Y') }}" disabled>
    <input  id="contact_sujet" name="contact[sujet]" type="hidden" value="{{ voitureTitre }}>
</div>
<h2>{{ contact.voiture }}</h2>
<p>Email : {{ contact.email }}</p>
<div>{{ contact.sujet }} : {{ voitureTitre }}</div>
<div>{{ contact.message }}</div>

    </body>
</html>
